################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Test/bin/Debug
/Test/obj
/FinalAutomationTestingCourceWork_geoportal_lt/obj
/FinalAutomationTestingCourceWork_geoportal_lt/packages.config
/FinalAutomationTestingCourceWork_geoportal_lt/bin/Debug
